In [1]:
import pandas as pd
pd.set_option("display.max_columns", None)

In [23]:
joined_df = pd.read_csv('C:/Users/APIN PC/OneDrive/Documents/DS/DE_Inter/etl_pipeline/data/Joined_data')
new_joined_df = pd.read_csv('C:/Users/APIN PC/OneDrive/Documents/DS/DE_Inter/etl_pipeline/31-03-25 Call.csv')

In [ ]:
joined_df.head()
new_joined_df.head()

,Unnamed: 0,title,release_year,runtime,genres,rating,description,director,votes_count,total_sales,type,metascore
0,0,The Shawshank Redemption,1994.0,142.0,Drama,9.3,Two imprisoned men bond over a number of years...,Frank Darabont,2343110.0,28341469.0,movie,NaN
1,1,The Godfather,1972.0,175.0,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,Francis Ford Coppola,1620367.0,134966411.0,movie,NaN
2,2,The Dark Knight,2008.0,152.0,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,Christopher Nolan,2303232.0,534858444.0,movie,NaN
3,3,The Godfather: Part II,1974.0,202.0,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,Francis Ford Coppola,1129952.0,57300000.0,movie,NaN
4,4,12 Angry Men,1957.0,96.0,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,Sidney Lumet,689845.0,4360000.0,movie,NaN

####  `Convert runtime to integer.`
#### `Convert total sales to float`
#### `Drop other missing values`
#### `Convert release year to date (year)`
#### `Dropping director and budget column?`

In [ ]:
new_joined_df.loc[new_joined_df[''] == 'A Working Man']

,Unnamed: 0,title,release_year,runtime,genres,rating,description,director,votes_count,total_sales,type,metascore
1250,1250,A Working Man,2025.0,116.0,"Action, Thriller",6.2,Levon Cade left his profession behind to work ...,NaN,3710.0,30215874.0,movie,NaN

In [75]:

from shlex import join


def transform_df(data) -> pd.DataFrame:
    """
    Transform joined dataframe 
    Returns:
        _type_: _description_
    """
    joined_df  = data

    joined_df = joined_df.dropna(
        subset=["votes_count", "rating", "description", "release_year"])
    # Changing Object Types
    joined_df['runtime'] = joined_df['runtime'].astype(str).str.extract(r'(\d+)') # Extract only integer value.
    joined_df['runtime'] = pd.to_numeric(joined_df['runtime'], errors='coerce') # Change column to numeric
    joined_df['total_sales']= joined_df['total_sales'].astype(str).replace(r'\,', '', regex=True).astype(float)
    joined_df.loc[joined_df['release_year'] == 'PG', 'release_year'] = '1995' # Changing wrong release year to the right one.
    
    # pd.to_datetime(joined_df['release_year'], format= '%Y').dt.year # Changing column to date type.
    # Treating NAs and Dropping Unwanted Columns
    # joined_df["release_year"] = pd.to_numeric(joined_df["release_year"], errors='coerce')
    joined_df['release_year'] = joined_df['release_year'].astype(int).astype(str)
    joined_df = joined_df.dropna(
        subset=["votes_count", "rating", "description", "release_year"]
    )
    joined_df['rating'] = joined_df[
        'rating'].astype(float)
    
    return joined_df

In [76]:
ab = transform_df(new_joined_df)
ac = transform_df(joined_df)
ab.info()
ac.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1953 entries, 0 to 1953
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    1953 non-null   int64
 1   title         1953 non-null   object
 2   release_year  1953 non-null   object
 3   runtime       1636 non-null   float64
 4   genres        1952 non-null   object
 5   rating        1953 non-null   float64
 6   description   1953 non-null   object
 7   director      1000 non-null   object
 8   votes_count   1953 non-null   float64
 9   total_sales   1325 non-null   float64
 10  type          1953 non-null   object
 11  metascore     0 non-null      float64
dtypes: float64(5), int64(1), object(6)
memory usage: 198.4+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 1973 entries, 0 to 1992
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         1973 non-null   object
 1   release_year  1973 non-null   object
 2   runtime       1647 non-null   float64
 3   genres        1973 non-null   object
 4   rating        1973 non-null   float64
 5   description   1973 non-null   object
 6   director      1000 non-null   object
 7   votes_count   1973 non-null   float64
 8   total_sales   1334 non-null   float64
 9   type          1973 non-null   object
 10  budget        404 non-null    float64
dtypes: float64(5), object(6)
memory usage: 185.0+ KB

C:\Users\APIN-PC\AppData\Local\Temp\ipykernel_22216\2639096854.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  joined_df['runtime'] = joined_df['runtime'].astype(str).str.extract(r'(\d+)') # Extract only integer value.
C:\Users\APIN-PC\AppData\Local\Temp\ipykernel_22216\2639096854.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  joined_df['runtime'] = pd.to_numeric(joined_df['runtime'], errors='coerce') # Change column to numeric
C:\Users\APIN-PC\AppData\Local\Temp\ipykernel_22216\2639096854.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  joined_df['total_sales']= joined_df['total_sales'].astype(str).replace(r'\,', '', regex=True).astype(float)
C:\Users\APIN-PC\AppData\Local\Temp\ipykernel_22216\2639096854.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  joined_df['release_year'] = joined_df['release_year'].astype(int).astype(str)
C:\Users\APIN-PC\AppData\Local\Temp\ipykernel_22216\2639096854.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  joined_df['runtime'] = joined_df['runtime'].astype(str).str.extract(r'(\d+)') # Extract only integer value.
C:\Users\APIN-PC\AppData\Local\Temp\ipykernel_22216\2639096854.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  joined_df['runtime'] = pd.to_numeric(joined_df['runtime'], errors='coerce') # Change column to numeric
C:\Users\APIN-PC\AppData\Local\Temp\ipykernel_22216\2639096854.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  joined_df['total_sales']= joined_df['total_sales'].astype(str).replace(r'\,', '', regex=True).astype(float)
C:\Users\APIN-PC\AppData\Local\Temp\ipykernel_22216\2639096854.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  joined_df['release_year'] = joined_df['release_year'].astype(int).astype(str)

In [77]:
ab.release_year.unique()

array(['1994', '1972', '2008', '1974', '1957', '2003', '1993', '2010',
       '1999', '2001', '1966', '2002', '1990', '1980', '1975', '2020',
       '2019', '2014', '1998', '1997', '1995', '1991', '1977', '1962',
       '1954', '1946', '2011', '2006', '2000', '1988', '1985', '1968',
       '1960', '1942', '1936', '1931', '2018', '2017', '2016', '2012',
       '2009', '2007', '1984', '1981', '1979', '1971', '1963', '1964',
       '1950', '1940', '2013', '2005', '2004', '1992', '1987', '1986',
       '1983', '1976', '1973', '1965', '1959', '1958', '1952', '1948',
       '1944', '1941', '1927', '1921', '2015', '1996', '1989', '1978',
       '1961', '1955', '1953', '1925', '1924', '1982', '1967', '1951',
       '1949', '1939', '1937', '1934', '1928', '1926', '1920', '1970',
       '1969', '1956', '1947', '1945', '1930', '1938', '1935', '1933',
       '1932', '1922', '1943', '2023', '2024', '2022', '2021', '2025'],
      dtype=object)

In [59]:
from pandas import NA


ab.release_year.isna().sum()

ab.loc[ab['release_year'] == 'None']

Empty DataFrame
Columns: [Unnamed: 0, title, release_year, runtime, genres, rating, description, director, votes_count, total_sales, type, metascore]
Index: []

In [55]:
ab['release_year'].unique()

array([1994.0, 1972.0, 2008.0, 1974.0, 1957.0, 2003.0, 1993.0, 2010.0,
       1999.0, 2001.0, 1966.0, 2002.0, 1990.0, 1980.0, 1975.0, 2020.0,
       2019.0, 2014.0, 1998.0, 1997.0, 1995.0, 1991.0, 1977.0, 1962.0,
       1954.0, 1946.0, 2011.0, 2006.0, 2000.0, 1988.0, 1985.0, 1968.0,
       1960.0, 1942.0, 1936.0, 1931.0, 2018.0, 2017.0, 2016.0, 2012.0,
       2009.0, 2007.0, 1984.0, 1981.0, 1979.0, 1971.0, 1963.0, 1964.0,
       1950.0, 1940.0, 2013.0, 2005.0, 2004.0, 1992.0, 1987.0, 1986.0,
       1983.0, 1976.0, 1973.0, 1965.0, 1959.0, 1958.0, 1952.0, 1948.0,
       1944.0, 1941.0, 1927.0, 1921.0, 2015.0, 1996.0, 1989.0, 1978.0,
       1961.0, 1955.0, 1953.0, 1925.0, 1924.0, 1982.0, 1967.0, 1951.0,
       1949.0, 1939.0, 1937.0, 1934.0, 1928.0, 1926.0, 1920.0, 1970.0,
       1969.0, 1956.0, 1947.0, 1945.0, 1930.0, 1938.0, 1935.0, 1933.0,
       1932.0, 1922.0, 1943.0, 2023.0, 2024.0, 2022.0, 2021.0, 2025.0,
       nan], dtype=object)

In [ ]:
joined_df[joined_df['type'] == 'tvSeries']

I intentionally left missing values so as to show some peculiarities of the scraped data.
E.g Type column consists of -> movie, tvseries and tvshortseries, 
Only movie have record for runtime. Both tvseries and tvshortseries are null. 
It could mean that tvseries are still running or that the IMDb does not keep record of series runtime.

In [ ]:
joined_df.columns

Index(['title', 'release_year', 'runtime', 'genres', 'rating', 'description',
       'director', 'votes_count', 'total_sales', 'type', 'budget'],
      dtype='object')

In [62]:
ab.columns

Index(['Unnamed: 0', 'title', 'release_year', 'runtime', 'genres', 'rating',
       'description', 'director', 'votes_count', 'total_sales', 'type',
       'metascore'],
      dtype='object')