In [1]:
import pandas as pd
pd.set_option("display.max_columns", None)

In [2]:
df_1 = pd.read_csv('C:/Users/APIN PC/OneDrive/Documents/DS/DE_Inter/etl_pipeline/data/First_df')
df_2 = pd.read_csv('C:/Users/APIN PC/OneDrive/Documents/DS/DE_Inter/etl_pipeline/data/Second_df')

## First DataFrame Cleaning

In [5]:
df_1.info()
df_2.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     1000 non-null   int64
 1   rank           1000 non-null   int64
 2   Series_Title   1000 non-null   object
 3   Released_Year  1000 non-null   object
 4   Poster_Link    1000 non-null   object
 5   Certificate    899 non-null    object
 6   Runtime        1000 non-null   object
 7   Genre          1000 non-null   object
 8   IMDB_Rating    1000 non-null   float64
 9   Overview       1000 non-null   object
 10  Meta_score     843 non-null    float64
 11  Director       1000 non-null   object
 12  Star1          1000 non-null   object
 13  Star2          1000 non-null   object
 14  Star3          1000 non-null   object
 15  Star4          1000 non-null   object
 16  No_of_Votes    1000 non-null   int64
 17  Gross          831 non-null    object
dtypes: float64(2), int64(3), object(13)
memory usage: 140.8+ KB

,Unnamed: 0,id,url,primaryTitle,originalTitle,type,description,primaryImage,contentRating,startYear,endYear,releaseDate,interests,countriesOfOrigin,externalLinks,spokenLanguages,filmingLocations,productionCompanies,budget,grossWorldwide,genres,isAdult,runtimeMinutes,averageRating,numVotes,weekendGrossAmount,weekendGrossCurrency,lifetimeGrossAmount,lifetimeGrossCurrency,weeksRunning
0,0,tt0111161,https://www.imdb.com/title/tt0111161/,The Shawshank Redemption,The Shawshank Redemption,movie,A banker convicted of uxoricide forms a friend...,https://m.media-amazon.com/images/M/MV5BMDAyY2...,R,1994,NaN,1994-10-14,"['Epic', 'Period Drama', 'Prison Drama', 'Drama']",['US'],['https://www.facebook.com/shawshankredemption...,['en'],['Mansfield Reformatory - 100 Reformatory Road...,"[{'id': 'co0040620', 'name': 'Castle Rock Ente...",25000000.0,2.933213e+07,['Drama'],False,142.0,9.3,3020192.0,NaN,NaN,NaN,NaN,NaN
1,1,tt0068646,https://www.imdb.com/title/tt0068646/,The Godfather,The Godfather,movie,The aging patriarch of an organized crime dyna...,https://m.media-amazon.com/images/M/MV5BYTJkNG...,R,1972,NaN,1972-03-24,"['Epic', 'Gangster', 'Tragedy', 'Crime', 'Drama']",['US'],"['https://www.facebook.com/thegodfather/', 'ht...","['en', 'it', 'la']","[""Forza d'Agrò, Messina, Sicily, Italy""]","[{'id': 'co0023400', 'name': 'Paramount Pictur...",6000000.0,2.503422e+08,"['Crime', 'Drama']",False,175.0,9.2,2107735.0,NaN,NaN,NaN,NaN,NaN
2,2,tt0468569,https://www.imdb.com/title/tt0468569/,The Dark Knight,The Dark Knight,movie,When a menace known as the Joker wreaks havoc ...,https://m.media-amazon.com/images/M/MV5BMTMxNT...,PG-13,2008,NaN,2008-07-18,"['Action Epic', 'Epic', 'Superhero', 'Action',...","['US', 'GB']",['https://www.facebook.com/darkknighttrilogy/'...,['en'],"['Chicago, Illinois, USA']","[{'id': 'co0002663', 'name': 'Warner Bros.'}, ...",185000000.0,1.009054e+09,"['Action', 'Crime', 'Drama']",False,152.0,9.0,2996473.0,NaN,NaN,NaN,NaN,NaN
3,3,tt0071562,https://www.imdb.com/title/tt0071562/,The Godfather Part II,The Godfather Part II,movie,The early life and career of Vito Corleone in ...,https://m.media-amazon.com/images/M/MV5BNzc1OW...,R,1974,NaN,1974-12-18,"['Epic', 'Gangster', 'Tragedy', 'Crime', 'Drama']",['US'],"['https://www.facebook.com/thegodfather/', 'ht...","['en', 'it', 'es', 'la']","['Kaiser Estate, 4000 W Lake Blvd, Homewood, L...","[{'id': 'co0023400', 'name': 'Paramount Pictur...",13000000.0,4.796422e+07,"['Crime', 'Drama']",False,202.0,9.0,1419514.0,NaN,NaN,NaN,NaN,NaN
4,4,tt0050083,https://www.imdb.com/title/tt0050083/,12 Angry Men,12 Angry Men,movie,The jury in a New York City murder trial is fr...,https://m.media-amazon.com/images/M/MV5BYjE4Nz...,Approved,1957,NaN,1957-04-10,"['Legal Drama', 'Psychological Drama', 'Crime'...",['US'],NaN,['en'],['New York County Courthouse - 60 Centre Stree...,"[{'id': 'co0032902', 'name': 'Orion-Nova Produ...",350000.0,2.945000e+03,"['Crime', 'Drama']",False,96.0,9.0,916795.0,NaN,NaN,NaN,NaN,NaN

In [4]:
# Making Everything into a function
def clean_df_1() -> pd.DataFrame:
    data = df_1
    # Dropping unwanted columns
    drop_cols = ['Unnamed: 0', 'rank', 'Poster_Link',
                'Certificate', 'Star1', 'Star2',
                'Star3', 'Star4', 'Meta_score']
    df_1_cols_dropped = data.drop(drop_cols, axis=1)

    # Renaming columns
    df_1_new = df_1_cols_dropped.rename({
                    'Series_Title':'title', 'Overview':'description', 
                    'IMDB_Rating': 'rating', 'No_of_Votes':'votes_count',
                    'Released_Year': 'release_year', 'Gross': 'total_sales',
                    'Runtime':'runtime', 'Genre':'genres', 'Director': 'director'
                }, axis=1)
    
    # Creating a new column
    df_1_new.loc[:,'type'] = 'movie'

    return df_1_new


def clean_df_2() -> pd.DataFrame:
    data = df_2

    # Dropping unwanted columns
    cols_drop = ['Unnamed: 0','url','primaryTitle','primaryImage','contentRating','releaseDate',
             'endYear','interests','countriesOfOrigin', 'externalLinks', 'spokenLanguages',
             'filmingLocations', 'productionCompanies',
             'weekendGrossAmount', 'weekendGrossCurrency', 'lifetimeGrossAmount',
             'lifetimeGrossCurrency', 'weeksRunning', 'id', 'isAdult'
               ]
    df_2_cols_dropped = data.drop(cols_drop, axis=1)

    # Renaming choosen columns.
    df_2_new = df_2_cols_dropped.rename({
                    'originalTitle':'title', 'averageRating': 'rating',
                    'numVotes':'votes_count',
                    'grossWorldwide': 'total_sales',
                    'runtimeMinutes':'runtime',
                    'startYear': 'release_year'
                }, axis=1)
    
    # Dropping Duplicates
    df_2_dup_dropped = df_2_new.drop_duplicates().reset_index().drop('index', axis=1)

    # Converting list rows in genre column to string
    df_2_dup_dropped['genres'] = df_2_dup_dropped['genres'].str.replace(r'\[|\]|\'','', regex=True)

    # Creating a new column
    df_2_dup_dropped.loc[:,'director'] = None

    return df_2_dup_dropped
    

data_1 = clean_df_1()
data_2 = clean_df_2()


frames = [data_1, data_2]

new_df = pd.concat(frames, ignore_index=True)

new_df.info()
new_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1990 entries, 0 to 1989
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         1990 non-null   object
 1   release_year  1990 non-null   object
 2   runtime       1652 non-null   object
 3   genres        1990 non-null   object
 4   rating        1975 non-null   float64
 5   description   1984 non-null   object
 6   director      1000 non-null   object
 7   votes_count   1975 non-null   float64
 8   total_sales   1333 non-null   object
 9   type          1990 non-null   object
 10  budget        406 non-null    float64
dtypes: float64(3), object(8)
memory usage: 171.1+ KB

,title,release_year,runtime,genres,rating,description,director,votes_count,total_sales,type,budget
0,The Shawshank Redemption,1994,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,Frank Darabont,2343110.0,"28,341,469",movie,NaN
1,The Godfather,1972,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,Francis Ford Coppola,1620367.0,"134,966,411",movie,NaN
2,The Dark Knight,2008,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,Christopher Nolan,2303232.0,"534,858,444",movie,NaN
3,The Godfather: Part II,1974,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,Francis Ford Coppola,1129952.0,"57,300,000",movie,NaN
4,12 Angry Men,1957,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,Sidney Lumet,689845.0,"4,360,000",movie,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1985,Ghilli,2004,160.0,"Action, Drama, Romance",8.2,"Velu, an aspiring kabaddi player, goes to Madu...",None,18137.0,163961.0,movie,20000000.0
1986,Ab Tak Chhappan,2004,129.0,"Crime, Drama",7.8,"Sadhu, an encounter specialist, is armed with ...",None,9870.0,NaN,movie,300000000.0
1987,Maidaan,2024,181.0,"Biography, Drama, History",7.9,Inspired by the Indian national football team ...,None,22503.0,371226.0,movie,NaN
1988,Veer-Zaara,2004,192.0,"Drama, Family, Musical",7.8,"""Veer-Zaara"" is a saga of love, separation, co...",None,59516.0,6698673.0,movie,7000000.0
1989,Airlift,2016,130.0,"Drama, History",7.9,"When Iraq invades Kuwait in August 1990, a cal...",None,59662.0,9323484.0,movie,4400000.0

In [5]:

drop_cols = ['Unnamed: 0', 'rank', 'Poster_Link', 'Certificate', 'Star1', 'Star2', 'Star3', 'Star4', 'Meta_score']

df_1_cols_dropped = df_1.drop(drop_cols, axis=1)
df_1_cols_dropped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   1000 non-null   object
 1   Released_Year  1000 non-null   object
 2   Runtime        1000 non-null   object
 3   Genre          1000 non-null   object
 4   IMDB_Rating    1000 non-null   float64
 5   Overview       1000 non-null   object
 6   Director       1000 non-null   object
 7   No_of_Votes    1000 non-null   int64
 8   Gross          831 non-null    object
dtypes: float64(1), int64(1), object(7)
memory usage: 70.4+ KB

In [6]:
df_1_cols_dropped.columns

df_1_new = df_1_cols_dropped.rename({
                    'Series_Title':'title', 'Overview':'description', 
                    'IMDB_Rating': 'rating', 'No_of_Votes':'votes_count',
                    'Released_Year': 'release_year', 'Gross': 'total_sales',
                    'Runtime':'runtime', 'Genre':'genres', 'Director': 'director'
                }, axis=1)
df_1_new.head()

,title,release_year,runtime,genres,rating,description,director,votes_count,total_sales
0,The Shawshank Redemption,1994,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,Frank Darabont,2343110,"28,341,469"
1,The Godfather,1972,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,Francis Ford Coppola,1620367,"134,966,411"
2,The Dark Knight,2008,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,Christopher Nolan,2303232,"534,858,444"
3,The Godfather: Part II,1974,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,Francis Ford Coppola,1129952,"57,300,000"
4,12 Angry Men,1957,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,Sidney Lumet,689845,"4,360,000"

In [ ]:
df_1_new.loc[:,'type'] = 'movie'
df_1_new

## Second DataFrame Cleaning

In [7]:
df_2.head(2)

,Unnamed: 0,id,url,primaryTitle,originalTitle,type,description,primaryImage,contentRating,startYear,endYear,releaseDate,interests,countriesOfOrigin,externalLinks,spokenLanguages,filmingLocations,productionCompanies,budget,grossWorldwide,genres,isAdult,runtimeMinutes,averageRating,numVotes,weekendGrossAmount,weekendGrossCurrency,lifetimeGrossAmount,lifetimeGrossCurrency,weeksRunning
0,0,tt0111161,https://www.imdb.com/title/tt0111161/,The Shawshank Redemption,The Shawshank Redemption,movie,A banker convicted of uxoricide forms a friend...,https://m.media-amazon.com/images/M/MV5BMDAyY2...,R,1994,NaN,1994-10-14,"['Epic', 'Period Drama', 'Prison Drama', 'Drama']",['US'],['https://www.facebook.com/shawshankredemption...,['en'],['Mansfield Reformatory - 100 Reformatory Road...,"[{'id': 'co0040620', 'name': 'Castle Rock Ente...",25000000.0,29332133.0,['Drama'],False,142.0,9.3,3020192.0,NaN,NaN,NaN,NaN,NaN
1,1,tt0068646,https://www.imdb.com/title/tt0068646/,The Godfather,The Godfather,movie,The aging patriarch of an organized crime dyna...,https://m.media-amazon.com/images/M/MV5BYTJkNG...,R,1972,NaN,1972-03-24,"['Epic', 'Gangster', 'Tragedy', 'Crime', 'Drama']",['US'],"['https://www.facebook.com/thegodfather/', 'ht...","['en', 'it', 'la']","[""Forza d'Agrò, Messina, Sicily, Italy""]","[{'id': 'co0023400', 'name': 'Paramount Pictur...",6000000.0,250342198.0,"['Crime', 'Drama']",False,175.0,9.2,2107735.0,NaN,NaN,NaN,NaN,NaN

In [8]:
df_2.info()
df_2.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1140 entries, 0 to 1139
Data columns (total 30 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             1140 non-null   int64
 1   id                     1140 non-null   object
 2   url                    1140 non-null   object
 3   primaryTitle           1140 non-null   object
 4   originalTitle          1140 non-null   object
 5   type                   1140 non-null   object
 6   description            1134 non-null   object
 7   primaryImage           1137 non-null   object
 8   contentRating          869 non-null    object
 9   startYear              1140 non-null   int64
 10  endYear                247 non-null    float64
 11  releaseDate            1132 non-null   object
 12  interests              1137 non-null   object
 13  countriesOfOrigin      1139 non-null   object
 14  externalLinks          720 non-null    object
 15  spokenLanguages        1135 non-null   object
 16  filmingLocations       789 non-null    object
 17  productionCompanies    1120 non-null   object
 18  budget                 459 non-null    float64
 19  grossWorldwide         588 non-null    float64
 20  genres                 1140 non-null   object
 21  isAdult                1140 non-null   bool
 22  runtimeMinutes         776 non-null    float64
 23  averageRating          1125 non-null   float64
 24  numVotes               1125 non-null   float64
 25  weekendGrossAmount     10 non-null     float64
 26  weekendGrossCurrency   10 non-null     object
 27  lifetimeGrossAmount    10 non-null     float64
 28  lifetimeGrossCurrency  10 non-null     object
 29  weeksRunning           10 non-null     float64
dtypes: bool(1), float64(9), int64(2), object(18)
memory usage: 259.5+ KB

Index(['Unnamed: 0', 'id', 'url', 'primaryTitle', 'originalTitle', 'type',
       'description', 'primaryImage', 'contentRating', 'startYear', 'endYear',
       'releaseDate', 'interests', 'countriesOfOrigin', 'externalLinks',
       'spokenLanguages', 'filmingLocations', 'productionCompanies', 'budget',
       'grossWorldwide', 'genres', 'isAdult', 'runtimeMinutes',
       'averageRating', 'numVotes', 'weekendGrossAmount',
       'weekendGrossCurrency', 'lifetimeGrossAmount', 'lifetimeGrossCurrency',
       'weeksRunning'],
      dtype='object')

In [9]:
cols_drop = ['Unnamed: 0','url','primaryTitle','primaryImage','contentRating','releaseDate',
             'endYear','interests','countriesOfOrigin', 'externalLinks', 'spokenLanguages',
             'filmingLocations', 'productionCompanies',
             'weekendGrossAmount', 'weekendGrossCurrency', 'lifetimeGrossAmount',
             'lifetimeGrossCurrency', 'weeksRunning', 'id', 'isAdult'
               ]

df_2_cols_dropped = df_2.drop(cols_drop, axis=1)
df_2_cols_dropped.head(3)

,originalTitle,type,description,startYear,budget,grossWorldwide,genres,runtimeMinutes,averageRating,numVotes
0,The Shawshank Redemption,movie,A banker convicted of uxoricide forms a friend...,1994,25000000.0,2.933213e+07,['Drama'],142.0,9.3,3020192.0
1,The Godfather,movie,The aging patriarch of an organized crime dyna...,1972,6000000.0,2.503422e+08,"['Crime', 'Drama']",175.0,9.2,2107735.0
2,The Dark Knight,movie,When a menace known as the Joker wreaks havoc ...,2008,185000000.0,1.009054e+09,"['Action', 'Crime', 'Drama']",152.0,9.0,2996473.0

In [10]:
print(df_2_cols_dropped.info())
df_2_cols_dropped.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1140 entries, 0 to 1139
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   originalTitle   1140 non-null   object
 1   type            1140 non-null   object
 2   description     1134 non-null   object
 3   startYear       1140 non-null   int64
 4   budget          459 non-null    float64
 5   grossWorldwide  588 non-null    float64
 6   genres          1140 non-null   object
 7   runtimeMinutes  776 non-null    float64
 8   averageRating   1125 non-null   float64
 9   numVotes        1125 non-null   float64
dtypes: float64(5), int64(1), object(4)
memory usage: 89.2+ KB
None

originalTitle       0
type                0
description         6
startYear           0
budget            681
grossWorldwide    552
genres              0
runtimeMinutes    364
averageRating      15
numVotes           15
dtype: int64

In [11]:
df_2_cols_dropped.columns

Index(['originalTitle', 'type', 'description', 'startYear', 'budget',
       'grossWorldwide', 'genres', 'runtimeMinutes', 'averageRating',
       'numVotes'],
      dtype='object')

In [12]:
df_2_cols_dropped.columns

df_2_new = df_2_cols_dropped.rename({
                    'originalTitle':'title', 'averageRating': 'rating',
                    'numVotes':'votes_count',
                    'grossWorldwide': 'total_sales',
                    'runtimeMinutes':'runtime',
                    'startYear': 'release_year'
                }, axis=1)
df_2_new.head()

,title,type,description,release_year,budget,total_sales,genres,runtime,rating,votes_count
0,The Shawshank Redemption,movie,A banker convicted of uxoricide forms a friend...,1994,25000000.0,2.933213e+07,['Drama'],142.0,9.3,3020192.0
1,The Godfather,movie,The aging patriarch of an organized crime dyna...,1972,6000000.0,2.503422e+08,"['Crime', 'Drama']",175.0,9.2,2107735.0
2,The Dark Knight,movie,When a menace known as the Joker wreaks havoc ...,2008,185000000.0,1.009054e+09,"['Action', 'Crime', 'Drama']",152.0,9.0,2996473.0
3,The Godfather Part II,movie,The early life and career of Vito Corleone in ...,1974,13000000.0,4.796422e+07,"['Crime', 'Drama']",202.0,9.0,1419514.0
4,12 Angry Men,movie,The jury in a New York City murder trial is fr...,1957,350000.0,2.945000e+03,"['Crime', 'Drama']",96.0,9.0,916795.0

In [13]:

print(df_1_new.shape, df_2_new.shape)
print(df_1_new.columns,'\n\n', df_2_new.columns)

(1000, 9) (1140, 10)
Index(['title', 'release_year', 'runtime', 'genres', 'rating', 'description',
       'director', 'votes_count', 'total_sales'],
      dtype='object')

 Index(['title', 'type', 'description', 'release_year', 'budget', 'total_sales',
       'genres', 'runtime', 'rating', 'votes_count'],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         1000 non-null   object
 1   release_year  1000 non-null   object
 2   runtime       1000 non-null   object
 3   genres        1000 non-null   object
 4   rating        1000 non-null   float64
 5   description   1000 non-null   object
 6   director      1000 non-null   object
 7   votes_count   1000 non-null   int64
 8   total_sales   831 non-null    object
dtypes: float64(1), int64(1), object(7)
memory usage: 70.4+ KB

In [15]:
df_2_dup_dropped = df_2_new.drop_duplicates().reset_index().drop('index', axis=1)
df_2_dup_dropped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 990 entries, 0 to 989
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         990 non-null    object
 1   type          990 non-null    object
 2   description   984 non-null    object
 3   release_year  990 non-null    int64
 4   budget        406 non-null    float64
 5   total_sales   502 non-null    float64
 6   genres        990 non-null    object
 7   runtime       652 non-null    float64
 8   rating        975 non-null    float64
 9   votes_count   975 non-null    float64
dtypes: float64(5), int64(1), object(4)
memory usage: 77.5+ KB

In [ ]:
# Converting list rows in genre column to string
df_2_dup_dropped['genres'] = df_2_dup_dropped['genres'].str.replace(r'\[|\]|\'','', regex=True) #Worked on ipynb file
# but gave error in py file. Because the rows were stored as lists. 

 # Converting list rows in genre column to string
df_2_new['genres'] = df_2_new['genres'].apply(
        lambda x: ', '.join(x) if isinstance(x, list) else str(x)) # This takes care of the error. 

df_2_dup_dropped

,title,type,description,release_year,budget,total_sales,genres,runtime,rating,votes_count
0,The Shawshank Redemption,movie,A banker convicted of uxoricide forms a friend...,1994,25000000.0,2.933213e+07,Drama,142.0,9.3,3020192.0
1,The Godfather,movie,The aging patriarch of an organized crime dyna...,1972,6000000.0,2.503422e+08,"Crime, Drama",175.0,9.2,2107735.0
2,The Dark Knight,movie,When a menace known as the Joker wreaks havoc ...,2008,185000000.0,1.009054e+09,"Action, Crime, Drama",152.0,9.0,2996473.0
3,The Godfather Part II,movie,The early life and career of Vito Corleone in ...,1974,13000000.0,4.796422e+07,"Crime, Drama",202.0,9.0,1419514.0
4,12 Angry Men,movie,The jury in a New York City murder trial is fr...,1957,350000.0,2.945000e+03,"Crime, Drama",96.0,9.0,916795.0
...,...,...,...,...,...,...,...,...,...,...
985,Ghilli,movie,"Velu, an aspiring kabaddi player, goes to Madu...",2004,20000000.0,1.639610e+05,"Action, Drama, Romance",160.0,8.2,18137.0
986,Ab Tak Chhappan,movie,"Sadhu, an encounter specialist, is armed with ...",2004,300000000.0,NaN,"Crime, Drama",129.0,7.8,9870.0
987,Maidaan,movie,Inspired by the Indian national football team ...,2024,NaN,3.712260e+05,"Biography, Drama, History",181.0,7.9,22503.0
988,Veer-Zaara,movie,"""Veer-Zaara"" is a saga of love, separation, co...",2004,7000000.0,6.698673e+06,"Drama, Family, Musical",192.0,7.8,59516.0
989,Airlift,movie,"When Iraq invades Kuwait in August 1990, a cal...",2016,4400000.0,9.323484e+06,"Drama, History",130.0,7.9,59662.0

In [17]:
df_2_dup_dropped.loc[:,'director'] = None
df_2_dup_dropped

,title,type,description,release_year,budget,total_sales,genres,runtime,rating,votes_count,director
0,The Shawshank Redemption,movie,A banker convicted of uxoricide forms a friend...,1994,25000000.0,2.933213e+07,Drama,142.0,9.3,3020192.0,None
1,The Godfather,movie,The aging patriarch of an organized crime dyna...,1972,6000000.0,2.503422e+08,"Crime, Drama",175.0,9.2,2107735.0,None
2,The Dark Knight,movie,When a menace known as the Joker wreaks havoc ...,2008,185000000.0,1.009054e+09,"Action, Crime, Drama",152.0,9.0,2996473.0,None
3,The Godfather Part II,movie,The early life and career of Vito Corleone in ...,1974,13000000.0,4.796422e+07,"Crime, Drama",202.0,9.0,1419514.0,None
4,12 Angry Men,movie,The jury in a New York City murder trial is fr...,1957,350000.0,2.945000e+03,"Crime, Drama",96.0,9.0,916795.0,None
...,...,...,...,...,...,...,...,...,...,...,...
985,Ghilli,movie,"Velu, an aspiring kabaddi player, goes to Madu...",2004,20000000.0,1.639610e+05,"Action, Drama, Romance",160.0,8.2,18137.0,None
986,Ab Tak Chhappan,movie,"Sadhu, an encounter specialist, is armed with ...",2004,300000000.0,NaN,"Crime, Drama",129.0,7.8,9870.0,None
987,Maidaan,movie,Inspired by the Indian national football team ...,2024,NaN,3.712260e+05,"Biography, Drama, History",181.0,7.9,22503.0,None
988,Veer-Zaara,movie,"""Veer-Zaara"" is a saga of love, separation, co...",2004,7000000.0,6.698673e+06,"Drama, Family, Musical",192.0,7.8,59516.0,None
989,Airlift,movie,"When Iraq invades Kuwait in August 1990, a cal...",2016,4400000.0,9.323484e+06,"Drama, History",130.0,7.9,59662.0,None

,title,release_year,runtime,genres,rating,description,director,votes_count,total_sales,type
0,The Shawshank Redemption,1994,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,Frank Darabont,2343110,"28,341,469",movie
1,The Godfather,1972,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,Francis Ford Coppola,1620367,"134,966,411",movie
2,The Dark Knight,2008,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,Christopher Nolan,2303232,"534,858,444",movie
3,The Godfather: Part II,1974,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,Francis Ford Coppola,1129952,"57,300,000",movie
4,12 Angry Men,1957,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,Sidney Lumet,689845,"4,360,000",movie
...,...,...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,Blake Edwards,166544,NaN,movie
996,Giant,1956,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,George Stevens,34075,NaN,movie
997,From Here to Eternity,1953,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",Fred Zinnemann,43374,"30,500,000",movie
998,Lifeboat,1944,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,Alfred Hitchcock,26471,NaN,movie
999,The 39 Steps,1935,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,Alfred Hitchcock,51853,NaN,movie

# Joining the two dataframes together

In [19]:
frames = [df_1_new, df_2_dup_dropped]

new_df = pd.concat(frames, ignore_index=True)

new_df.info()
new_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1990 entries, 0 to 1989
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         1990 non-null   object
 1   release_year  1990 non-null   object
 2   runtime       1652 non-null   object
 3   genres        1990 non-null   object
 4   rating        1975 non-null   float64
 5   description   1984 non-null   object
 6   director      1000 non-null   object
 7   votes_count   1975 non-null   float64
 8   total_sales   1333 non-null   object
 9   type          1990 non-null   object
 10  budget        406 non-null    float64
dtypes: float64(3), object(8)
memory usage: 171.1+ KB

,title,release_year,runtime,genres,rating,description,director,votes_count,total_sales,type,budget
0,The Shawshank Redemption,1994,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,Frank Darabont,2343110.0,"28,341,469",movie,NaN
1,The Godfather,1972,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,Francis Ford Coppola,1620367.0,"134,966,411",movie,NaN
2,The Dark Knight,2008,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,Christopher Nolan,2303232.0,"534,858,444",movie,NaN
3,The Godfather: Part II,1974,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,Francis Ford Coppola,1129952.0,"57,300,000",movie,NaN
4,12 Angry Men,1957,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,Sidney Lumet,689845.0,"4,360,000",movie,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1985,Ghilli,2004,160.0,"Action, Drama, Romance",8.2,"Velu, an aspiring kabaddi player, goes to Madu...",None,18137.0,163961.0,movie,20000000.0
1986,Ab Tak Chhappan,2004,129.0,"Crime, Drama",7.8,"Sadhu, an encounter specialist, is armed with ...",None,9870.0,NaN,movie,300000000.0
1987,Maidaan,2024,181.0,"Biography, Drama, History",7.9,Inspired by the Indian national football team ...,None,22503.0,371226.0,movie,NaN
1988,Veer-Zaara,2004,192.0,"Drama, Family, Musical",7.8,"""Veer-Zaara"" is a saga of love, separation, co...",None,59516.0,6698673.0,movie,7000000.0
1989,Airlift,2016,130.0,"Drama, History",7.9,"When Iraq invades Kuwait in August 1990, a cal...",None,59662.0,9323484.0,movie,4400000.0